.dlete__btn {
    background-color: #ff0000;
    color: #fff;
    padding: 4px;
    margin: 0px 3px;
    border-radius: 3px;
    cursor: pointer;
}

.pdfeyeco {
    background-color: #ff0000;
    color: #fff;
    padding: 4px;
    margin: 0px 3px;
    border-radius: 3px;
    cursor: pointer;
}

.exportEyecon {
    background-color: #39ac16f2;
    color: #fff;
    padding: 4px;
    margin: 0px 3px;
    border-radius: 3px;
    cursor: pointer;
}
.addinrow {
    background-color: #0051ff;
    color: #fff;
    padding: 4px;
    margin: 0px 3px;
    border-radius: 3px;
    cursor: pointer;
}
.deleterow {
    background-color: #ff0000;
    color: #fff;
    padding: 4px;
    margin: 0px 3px;
    border-radius: 3px;
    cursor: pointer;
}

.bg-yellow {
    background-color: #ffff0073;
}

.Table__filter_sec.pd {
    padding: 15px 10px;
    display: flex;
    align-items: center;

    .iconbxx {
        margin-left: auto;
    }
}

.table.Reports.first {
    overflow: scroll;
}

.Table__filter_sec {
    position: relative;

    .card-header {
        display: inline-block;
    }

    .team__selct {
        margin: 0px 7px;

        select {
            padding: 5px;
        }
    }

    .iconbxx {
        float: right;
        margin: 5px 10px;

        .exportEyecon,
        .pdfeyeco {
            padding: 6px;
            margin: 0px 5px;

        }
    }

    .exportEyecon {
        float: right;
        padding: 6px;
        margin: 10px 20px;
    }

    .filter__inputs {
        display: inline-block;

        .main-filt {
            .infield {
                margin: 0px 10px;
            }

            input {
                margin: 0px 5px;
            }
        }
    }
}

.import_export_btn {
    text-align: end;
    padding: 10px 20px;

    i {
        color: #fff;
        padding: 4px;
        margin: 0px 3px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 18px;
    }

    .csv_icn {
        background-color: #39ac16f2;
    }

    .add_icon {
        background-color: #0051ff;
    }
}

.cntenet {
    min-height: 70vh;

    .sticky__box {
        position: relative;
        height: 16.5em;
        width: 100%;

        .stck-card {
            position: fixed;
            z-index: 9;
            box-shadow: 0px 0px 6px #000;
            top: 120px;
            width: 78.5%;
            transition: all 0.5s ease-in-out;
        }

        .stck-card1 {
            position: fixed;
            z-index: 9;
            box-shadow: 0px 0px 12px #000;
            top: 80px;
            width: 78.5%;
            transition: all 0.5s ease-in-out;

        }
    }

    td {
        label {
            min-width: 12em;
            font-weight: bold;
            margin: 0px 10px 0px 0px;
            position: relative;


        }

        .pdfEyecon {
            margin: 0px 10px 0px 0px;
            font-size: 25px;
            cursor: pointer;
        }

        input[type="file"] {
            width: 30%;
        }

        .SelectStatus {
            padding: 5px;
            width: 30%;

            &:focus {
                outline: 0px;
            }
        }


    }

    .resources1 {
        width: 50%;
        display: flex;
        align-items: center;

        .slider {
            width: 250px;
        }

        .Percentage {
            margin: 2px 17px 3px;
            padding: 6px;
            color: #fff;
            position: relative;
            z-index: 2;

            &::after {
                position: absolute;
                content: '';
                background-color: #0051ff;
                width: 100%;
                height: 100%;
                top: 0px;
                border-radius: 3px;
                left: 0px;
                z-index: -1;
            }

            &::before {
                font-family: 'Font Awesome\ 5 Free';
                font-weight: 900;
                display: inline-block;
                position: absolute;
                left: -9px;
                top: -7px;
                font-size: 27px;
                color: #0051ff;
                content: '\f0d9';
                font-style: initial;
            }
        }
    }

    .commentText {
        display: flex;
        align-items: center;

        textarea {
            width: 30%;
            border-radius: 3px;
            min-height: 5em;

            &:focus {
                outline: 0px;
            }
        }
    }

    .text-end {
        text-align: right;
    }

    .tdmathd{
        .card-header {
            padding: 10px 5px;
        }  
    }
    .tableinn_measuree {
        width: 79%;
  
            td {
                padding: 10px;
                .card-header {
                    font-size: 25px;
                }
    

            .material_selct {
                padding: 5px;
            }

            label {
                min-width: 5em;
                width: auto;
            }
        }
    }
    .tableinn_measuree-1 {
        width: 60%;
  
            td {
                padding: 10px;
                .card-header {
                    font-size: 25px;
                }
    

            .material_selct {
                padding: 5px;
            }

            label {
                min-width: 5em;
                width: auto;
            }
        }
    }
}

.edit__btn {
    background-color: #0051ff;
    color: #fff;
    padding: 4px;
    margin: 0px 3px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        color: #fff;
    }
}

.view__icon {
    background-color: #39ac16f2;
    color: #fff;
    padding: 4px;
    margin: 0px 3px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        color: #fff;
    }
}
.table-responsive{
    .big-bx{
        min-width: 7em;
    }
}

.assgn__btn {
    background-color: #00a6c4;
    color: #fff;
    padding: 4px;
    margin: 0px 3px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        color: #fff;
    }
}

.navbar-brand {
    display: flex;
    align-items: center;

    img {
        width: 5em;
    }

    .nav_brand_text {
        font-size: 18px;
        padding: 25px 0px 0px 7px;

        &:hover {
            color: #fff;
        }
    }

    &:hover {
        color: #fff;
    }
}

.drgblTbl {
    .tables_ui {
        user-select: none;
        width: 95%;
        margin: 2px 2%;
        border-collapse: separate;
        border-spacing: 10px;
    }

    .tables_ui ul li {
        min-width: 200px;
    }

    .dragging li.ui-state-hover {
        min-width: 240px;
    }

    .dragging .ui-state-hover a {
        color: green !important;
        font-weight: bold;
    }

    .tables_ui th,
    td {
        color: #3d405c;
        padding: 5px;
        border: 1px solid;
    }

    .t_sortable tr,
    .ui-sortable-helper {
        cursor: move;
    }

    .t_sortable tr:first-child {
        cursor: default;
    }

    .ui-sortable-placeholder {
        background: yellow;
    }
}

.DashPrjMain_box {
    margin: 1.1em 0px 2.5em;
    padding: 2.5em 10px 10px;
    border-radius: 3px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .btstrbx {
        padding: 7px;
        width: 20%;
        max-width: 20%;
    }

    .box_hd {
        position: absolute;
        left: 10px;
        top: 0px;
        background-color: #fff;
        padding: 5px 10px;
        border-bottom: 0px;
    }

    .box-inside {
        min-height: 7.8rem;
        border: 1px solid #1d70b7;
        border-radius: 3px;
        display: block;
        padding: 13px;
        box-shadow: 0px 0px 4px 0px #00000052;
        position: relative;

        .project_num {
            margin: 0px 0px 10px;
        }

        label {
            min-width: 9em;
            margin: 0px;
            font-size: 14px;
        }

        .txt_under {
            margin: 0px;
            font-size: 14px;
        }

        .Add_project_btn {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0px 0px 4px 0px #00000052;
        }
    }
}

.txtrgtelem {
    text-align: center;
}

.login__pagemain {
    background-image: linear-gradient(to left bottom, #00496f, #00406c, #003768, #002e63, #00245d, #002b66, #00326f, #003978, #005490, #006fa5, #008bb6, #00a6c4);
    min-height: 100vh;
    margin: 0px;
    color: #fff;
    overflow: hidden;

    .MnrWW {
        flex-wrap: wrap-reverse;
    }

    .box__1 {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
        }
    }

    .box__2 {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;


        .Nigel_icon {
            width: 60%;
            margin: 0px auto 5em;
            margin-left: -14px;
        }

        .login__page__form {
            padding-bottom: 3em;

            .form-group {
                position: relative;

                .form-control {
                    margin: 2em 0px;
                    width: 30em;
                    box-shadow: 5px 1px 20px #00000085;
                    transition: all 0.7s ease-in-out;

                    &:focus {
                        border-color: #66afe9;
                        outline: 0;
                        box-shadow: inset 0 1px 1px #008bb6;
                    }
                }

                .submit_btn {
                    background-color: #1d70b7;
                    display: inline-block;
                    color: #fff;
                    padding: 5px 2em;
                    font-size: 18px;
                    border: 2px solid #fff;
                    border-radius: 3px;
                    cursor: pointer;
                }
            }
        }

        .login__page__title {
            .txt__head {
                margin: 10px 0px;
                font-size: 22px;
                font-weight: bold;
            }

            .txt__sbtitle {
                font-size: 14px;
                font-weight: bold;
                margin: 0px;
            }
        }

        .frgtlgin {
            display: flex;
            align-items: center;
        }

        .frgtPswrd__link {

            a {
                padding: 10px;
                color: #fff;
                text-decoration: none;
                left: 4em;
                top: 0px;
            }
        }
    }
}

.metric-label .d-inline-block {
    cursor: pointer;
}

.page-header {
    display: flex;
    justify-content: space-between;

    .project__divDash {

        .projectSlctdash {
            padding: 5px;
            border: 1px solid #000;
            outline: 0px solid #000;
        }

        .projectList {

            .btn-primary {

                .fa-plus {
                    margin: 0px 5px;
                }
            }

            .dropdown-menu {
                left: -2em !important;
            }
        }
    }
}

#AddUserModal,
#AddProjectModal,
#AddTAskManager,
#MyTAskAdd {
    .form-row {
        margin: 10px 0px;

        .uSrtype__modal {
            width: 47%;
            margin: 0px 5px;
        }
    }
}

.action__class {
    min-width: 11em;
}

.action__class-1 {
    min-width: 6em;
}

.action__class-2 {
    min-width: 8 em;
}

.action__class-1 {
    min-width: 6em;
}

#AddTAskManager {

    .form-row {
        margin: 1.5em 0px;

        .col {
            display: flex;
        }

        input[type=file] {
            width: 14em;
            border: 0px;
            box-shadow: 0px 0px 0px #fff;
        }

        .txtArrtsk {
            padding: 10px;
            width: 100%;
            border-color: #a7a7f0;

            &:focus {
                outline: 0px;
            }
        }

        label {
            padding: 0px 10px 0px 0px;
        }
    }
}

@media only screen and (max-width: 450px) {
    .login__pagemain .box__2 .login__page__title .txt__head {
        font-size: 17px !important;
    }

    .projectXtask {
        .card-header {
            padding: 5px;
        }

        .nav-tabs {
            .nav-link {
                font-size: 12px;
                padding: 0px 4px;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .DashPrjMain_box .btstrbx {
        max-width: 50%;
        width: 50%;
    }
}

@media only screen and (max-width: 700px) {
    .login__pagemain .box__1 {
        min-height: 43vh;
    }


    .login__pagemain .box__2 {
        .login__page {
            width: 100%;
            padding: 1em;
        }
    }

    .login__pagemain .box__2 .login__page__form .form-group .form-control {
        width: 100%;
    }

    .login__pagemain .box__2 .Nigel_icon {
        margin: 5px 5px 15px -10px;
    }

    .login__pagemain .box__2 {
        min-height: 52vh;
    }

    .login__pagemain .box__2 .login__page__form {
        padding-bottom: 0px;
    }

    .login__pagemain .box__2 .login__page__form .form-group .form-control {
        margin: 10px 0px;
    }
}

.ecommerce-widget {
    .ViewDtllink {
        color: #0051ff;
    }
}

.page-header {
    align-items: center;

    .Main_header {
        margin-bottom: 0px;
    }
}

.projectXtask {
    .card {
        padding: 10px;
    }

    .nav-tabs {
        align-items: center;
    }
}

#Assgn2Mdl {
    .form-row {
        margin-bottom: 1em;

        .datetmlcl {
            width: 100%;
            padding: 5px;
            border: 1px solid #d2d2e4;
            color: grey;
        }
    }
}

#Assign_task {
    .modal-body {
        .form-row {
            .new--row {
                display: flex;
                align-items: center;
                justify-content: center;

                .HdTxt {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

/* 
.Page_loader{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index:99999999;
    background-color: #000000a6;

    img{
        width: 15em;
        position: absolute;
        left: 44%;
        top: 31%;
        transform: translate(-50%,-50%);
        animation: spin 3s linear infinite;

    }
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
} */

.card.green {
    background-color: #34ce57b0;
    color: #fff;
}

.card.yellow {
    background-color: #d7d717ab;
    color: #fff;
}

.card.blue {
    background-color: rgba(28, 151, 222, 0.768);
    color: #fff;
}

.card.red {
    background-color: #ff000082;
    color: #fff;
}

.SelectInppt {
    display: flex;
    justify-content: space-between;

    select {
        margin: 15px;
        padding: 3px;

        &:focus {
            outline: 0px;
        }
    }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #5969ff;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.breadcrumb {
    position: relative;
    z-index: 999;
}

#Calendertask {

    /*  .form-row.name{
        margin: 1em 0px;
        display: flex;
        label{
            width: 25%;
        }
        input[type="text"],select {
            border: 1px solid #d2d2e4;
            width: 60%;
            padding: 5px;
        }
    } */
    .form-row {
        margin: 10px 0px;
    }

    .form-row.task-due {
        .col {
            display: flex;
            align-items: center;

            label {
                width: 35%;
            }
        }
    }
}

